@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
@theme {
  --color-gold: #D4AF37;
  --color-gold-light: #FFD700;
}

/* Animacja slideInUp */
@keyframes slideInUp {
  0% {
    transform: translateY(30px); /* Mniejsze przesunięcie */
    opacity: 1; /* Ustawiamy od razu pełną widoczność */
  }
  100% {
    transform: translateY(0); /* Końcowa pozycja */
    opacity: 1; /* Utrzymujemy pełną widoczność przez całą animację */
  }
}

/* Animacja slideInLeft */
@keyframes slideInLeft {
  0% {
    transform: translateX(-30px); /* Mniejsze przesunięcie */
    opacity: 1; /* Ustawiamy od razu pełną widoczność */
  }
  100% {
    transform: translateX(0); /* Końcowa pozycja */
    opacity: 1; /* Utrzymujemy pełną widoczność przez całą animację */
  }
}

/* Klasy do animacji */
.animate-slideInUp {
  animation: slideInUp 0.7s ease-out;
}

.animate-slideInLeft {
  animation: slideInLeft 0.7s ease-out;
}

/* app.css */
body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

* {
  caret-color: transparent;
}